/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@600&family=Oswald:wght@300&display=swap');

/*Asterik wildcard selector to override default styles by the browser */
* { padding:0;
    margin:0 ;
    box-sizing:border-box ;
 }
 /* General styles*/
 body {min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*General project styles*/
    color: #3a3a3a;
    font-family:'Lato', sans-serif;

}
/*header*/
header {
    background-color:#ffffff;
    /* padding left and right*/
    padding: 0 1rem;
    position: fixed;
    z-index:99;
    width: 100%;
    /*manadory values: horizontal offset, neg (left) pos (right)
    vertical offset: POS (display shadow below the element) NEG (display shadow above the element)
    3rd value sets the blur (how soft or hard the shadow) */
    box-shadow: 0 2px 2px #3a3a3a ;


}
/*descendant a of header*/
header a {
    text-decoration: none;
/*inherit from body */
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    letter-spacing:2px ;
    color: #252525; ;
}

/*main*/
main {
    background-color:lightblue;
    /*Make main element  take up any surplus space to push footer down*/
    flex: 1 0 auto

}
/*footer*/
footer {background-color:orange ;}